<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Event Connection</h1>

    <div class="content">
    <p>Welcome to Event Connection. See what's happening in your community and add your own events to our community calendar. </p> 
    <p><a href="/signup">Sign up</a> or <a href="/login">login</a>.</p>
    </div>

  

  </div>
</div>
